{
  "amplitudeApiKey" : "*** your amplitude api key ***",
  "amplitudeApiSecret" : "*** your amplitude api secret ***",
  "splitApiKey" : "*** your split server-side api key ***",
  "durationInHours" : 1,
  "splitTrafficType" : "user",
  "splitEnvironment" : "Prod-Default",
  "eventTypePrefix" : "amp.",
  "userIdField" : "user_id",
  "valueField" : "",
  "batchSize" : 5000,
  "propertyFields" : [
  	 "country", 
  	 "language", 
  	 "device_type", 
  	 "device_carrier", 
  	 "uuid",
	 "region", 
	 "device_model", 
	 "city", 
	 "device_family", 
	 "platform", 
	 "os_version",
	 "ip_address", 
	 "os_name", 
	 "dma"
  ]
  
}
